div.container {
      width: 100%;
      border: 1px solid gray;
    }

    header{
      padding: 1em;
      color: black;
      background-color: #;
      clear: left;
      text-align: center;
    }
    
    footer {
      padding: 1em;
      color: black;
      background-color: transparent;
      clear: left;
      text-align: center;

    }

    nav {
      float: left;
      max-width: 160px;
      margin: 0;
      padding: 1em;
    }

    nav ul {
      list-style-type: center;
      padding: 0;
    }

    nav ul a {
      text-decoration: none;
    }

    article {
      margin-left: 170px;
      border-left: 1px solid gray;
      padding: 1em;
      overflow: hidden;
    }

    ul.principal
    {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
    }
    li
    {
      float: left;
      align-self: center;
      background-image:"/img/bortdiag2.gif";
    }

       li.codi
    {
      float: ;
      align-self: center;
      background-image:"/img/bortdiag2.gif";
    }

    li a
    {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    li a:hover
    {
      background-color: #111111;

    }
    iframe.principal{